

.text-field {
    -fx-font-size: 16pt;
    -fx-font-family: "Palatino";
    -fx-text-fill: white;
    -fx-control-inner-background: derive(#494949,20%);
}

.text-area {
    -fx-background-color: black;
    -fx-control-inner-background: #494949;
    -fx-font-family: "Palatino";
    -fx-font-size: 12pt;
    -fx-padding: 10 10 10 10;
}
